.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice-1 {
  text-align: center;
  display: inline-block;
  margin-right: 5vh;
}

.dice-2 {
  text-align: center;
  display: inline-block;
  margin-left: 5vh;

}

#btn {
  background-color: white;
  margin-top: 10vh;
  margin-right: 2vh;
  width: 15vh;
  height: 5vh;
  border-radius: 2vh;
  border: none;
  background-color: darkred;
  color: white;
  font-family: monospace;
}

#resetBtn {
  background-color: white;
  margin-top: 10vh;
  margin-left: 2vh;
  width: 15vh;
  height: 5vh;
  border-radius: 2vh;
  border: none;
  background-color: darkred;
  color: white;
  font-family: monospace;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: monospace;
  text-shadow: 5px 0 #000;
  font-size: 8rem;
  color: #FFB200;
}

p {
  font-size: 2rem;
  color: #FFB200;
  font-family: monospace;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}